<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
   <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="caixa-central">
    <h2>Menu Principal</h2>

    <p class="ultimo-acesso">Último acesso: <!-- ULTIMO_ACESSO --></p>

    <div class="menu-opcoes">
        <a href="/cadastroUsuario.html" class="botao-menu">👤 Cadastro de Usuários</a>
        <a href="/batepapo" class="botao-menu">💬 Bate-papo</a>
    </div>

    <br>
    <a href="/logout">Sair</a>
</div>

</body>
</html>
